@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2B1B12;

  --primary: #DDC7BB;    
  --secondary: #FBF5F1;  
  --accent: #2B1B12;     
  --brand: #543E32;      

  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-brand: var(--brand);

  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
